# opensource-lighthouse

简体中文 | [English](README_en.md)

汇总统计各「大厂」的开源团队和项目。

## 愿景

- 帮助诸位了解在开源社区各家大公司的参与情况，提供一个好项目的整合。
- 促进国内的「大厂」在开源上有更多的投入，贡献更多能做到「主流」且「国际化」的项目。

## 统计

共计 {{ total_repos }} 个项目，{{ total_companies }} 家公司，{{ total_teams }} 个团队。

> [!TIP] 
> 可以点击公司名称查看项目详情。 

| 公司 | 团队数 | 项目数 | 近半年内活跃项目数 | 总 Star 数 | 语言 Top 3 |
| --- | --- | --- | --- | --- | --- |
{% for company in companies -%}
| [{{ company.name }}](page/{{ company.name|replace(" ", "%20") }}.md) | {{ company.stats.total_teams }} | {{ company.stats.total_projects }} | {{ company.stats.active_projects }} | {{ company.stats.total_stars }} | {{ company.stats.top_3_languages }} |
{% endfor %}

数据统计时间：{{ time }}

## 团队

| 团队 | 公司 |
| --- | --- |
{% for team in teams -%}
| [{{ team.name }}](https://github.com/{{ team.name }}) | {{ team.company }} |
{% endfor %}

## Roadmap

- [x] 收集国内外各大公司团队账号，拉取其名下 repo，通过 markdown 等方式展示
- [ ] 做一个前端网站，提供搜索等功能
- [ ] 提供用户反馈功能，自动化收录新公司/团队/项目
- [ ] 增加榜单功能，展示 new/trending 项目
- [ ] 增加数据统计功能，分析各公司的技术栈，跨公司比较等

## 贡献

如果你知道更多对应的公司和开源团队，欢迎在这个 [issue](https://github.com/LeslieLeung/opensource-lighthouse/issues/2) 下补充。

## 鸣谢

项目灵感来源：[niezhiyang/open_source_team](https://github.com/niezhiyang/open_source_team)